

.contenedor{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    width: 100%;
    height: 3440px;
    background-color: rgb(149, 179, 169);
    flex-direction: column;
    box-shadow: #8a8a8a47 5px 5px;
}
/*--------------------------------------------------------------------------------------------------*/
.titulo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: black;
}

h1{
    font-size: 5rem;
}

.palabras{
    display: flex;
    position: relative;
    width: 500px;
    height: 123px;
    margin-bottom: auto;
    
}

nav{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.arriba{
    position: absolute;
    display: flex;
    color: #b7ecdb;
    width: 500px;
    height: 123px;
    justify-content: center;
    flex-direction: column;
    right: 2px;
    top: 2px;
}

.abajo{
    position: absolute;
    display: flex;
    width: 500px;
    height: 123px;
    justify-content: center;
    flex-direction: column;
    color: rgb(45, 81, 241);
    left: 2px;
    bottom: 2px;
    
}
/*--------------------------------------------------------------------------------------------*/
.botonesFiltro {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: end;
    top: 30px;
}

.botonesFiltro #contadorTarjetas{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-left: 10px;
}

.contenedorFiltros{
    width: 650px;
    margin-right: 15px;
}

.filtros{
    width: 115px;
    height: 40px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
    color: black;
    margin-left: 8px;
    background-image:linear-gradient(rgb(215, 245, 235),rgb(202, 230, 216));
    border: 2px;
    border-style: outset;
}

.botonFiltroApretado{
    width: 115px;
    height: 40px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 8px;
    color: rgb(242 245 244);
    border: 3px;
    border-style: inset;
    background-color: rgb(78 145 99);
}
/*-------------------------------------------------------------------------------------------*/
section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3200px;
    margin-left: 18px;
    margin-top: 30px;
    align-content: flex-start;
    flex-wrap: wrap;
}

#tarjeta {
    padding: 4px;
    margin: 11px 0px;
    display: grid;
    grid-template-columns: 324px 328px 327px 327px;
    align-items: start;
}
.card{
    background-color: rgb(216, 232, 240);
    width: 300px;
    height: 570px;
    margin-bottom: 20px;
}
.contenedorImg{
    display: flex;
    position: relative;
    width: 280px;
    margin-top: 10px;
    margin-left: 10px;
    overflow: hidden;
    
    
}
.card:hover {
    transition:cubic-bezier(0.169, 0.84, 0.44, 1) 0.5s;
    box-shadow: #66636398 10px 10px;
  }

#tarjeta .imgPersonaje{
    width: 280px;
    transition: 2s;
    
}

#tarjeta .imgPersonaje:hover {
    transform: scale(1.2);
    filter: grayscale(90%);
  }

#tarjeta p{
    margin-bottom: 2px;
    margin-left: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

#tarjeta h2{
    font-family: 'Cardo', serif;
    font-family: 'Lumanosimo', cursive;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    font-size: 20px;
}
/*------------------------------------------------------------------------------------------------*/
.cotenedorPaginado {
    display: flex;
    color: rgb(24, 85, 24);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .botonPaginado{
    width: 50px;
    height: 25px;
    border: 2px;
    border-style: outset;
    border-radius: 6px;
    background-color: rgb(24, 85, 24);
    color: white;
    font-weight: bold;
  }

  #nroPagina{
    width: 70px;
    height: 25px;
    border: 2px;
    border-style: outset;
    border-radius: 6px;
    background-color: rgb(24, 85, 24);
    color: white;
    font-weight: bold;
  }

  .botonPaginadoApagado{
    width: 50px;
    height: 25px;
    border-radius: 6px;
    border: 1px;
    border-style: inset;
    background-color: rgb(156 193 156);
    color: #6d6969;
    font-weight: bold;
  }
  /*-------------------------------------------------------------------------------------------------*/
 footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    background-color: black;
    color: white;
    text-align: center;
 }

span{
    margin-left: 10px;
    margin-top: 10px;
}


/*--------------------------------------------------------------------*/
/* ---------------------------Responsive------------------------------*/
/*--------------------------------------------------------------------*/

/*=========================================================*/
/*================== tablet ===============================*/
/*=========================================================*/

@media (min-width : 650px) and (max-width : 1300px){

    .contenedor{
        display: flex;
    position: absolute;
    justify-content: flex-start;
    width: 100%;
    height: 6050px;
    background-color: rgb(149, 179, 169);
    flex-direction: column;
    box-shadow: #8a8a8a47 5px 5px;
    }
/*---------------------------------------------------------------------------------*/
    .titulo{
        display: flex;
        width: 100%;
        height: 60px;
        background-color: black;
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-size: 2.5rem;
    }

    .palabras{
        display: flex;
        position: relative;
        width: 300px;
        height: 60px;
        margin-bottom: 2px;
    
        
    }
    
    nav{
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 40px;
    }
    
    .arriba{
        position: relative;
        display: flex;
        color: #b7ecdb;
        width: 300px;
        height: 60px;
        justify-content: center;
        flex-direction: column;
        right: 2px;
        bottom: 2px;
    }
    
    .abajo{
        position: absolute;
        display: flex;
        width: 300px;
        height: 60px;
        justify-content: center;
        flex-direction: column;
        color: rgb(45, 81, 241);
        left: 2px;
        bottom: 2px;
        
    }
/*-------------------------------------------------------------------------------------------------*/
    .botonesFiltro {
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        text-align: center;
        flex-direction: column;
        align-items: center;
        top: 18px;
    }
    .botonesFiltro #contadorTarjetas{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.4rem;
        margin-bottom: 5px;
    }

    .contenedorFiltros{
        width: 650px;
    }
    
    .filtros{
        width: 113px;
        height: 38px;
        font-size: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style:italic;
        margin-left: 8px;
        background-image:linear-gradient(rgb(215, 245, 235),rgb(202, 230, 216));
        border: 2px;
        border-style: outset;
    }
    
    .botonFiltroApretado{
        width: 115px;
        height: 40px;
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        margin-left: 8px;
        color: rgb(242 245 244);
        border: 3px;
        border-style: inset;
        background-color: rgb(78 145 99);
    }
    /*--------------------------------------------------------------------------------------*/
    section{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 6200px;
        margin-left: 0px;
        margin-top: 30px;
    }
    
    #tarjeta {
        padding: 4px;
        margin: 11px 0px;
        display: grid;
        grid-template-columns: 320px 320px;
        justify-content: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        background-color: rgb(216, 232, 240);
        width: 300px;
        height: 555px;
        margin-bottom: 20px;

    }
    .contenedorImg{
        display: flex;
        position: relative;
        width: 280px;
        margin-top: 10px;
        margin-left: 10px;
        overflow: hidden;
        
        
    }
    .card:hover {
        transition:cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
        box-shadow: #66636398 10px 10px;
      }
    
    #tarjeta .imgPersonaje{
        width: 280px;
        
    }
    
    #tarjeta .imgPersonaje:hover {
        transform: scale(1.2);
      }
    
    #tarjeta p{
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
    }
    
    #tarjeta h2{
        font-family: 'Cardo', serif;
        font-family: 'Lumanosimo', cursive;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 4px;
        font-size: 20px;
    }
    /*------------------------------------------------------------------------------------------------*/
    .cotenedorPaginado {
        display: flex;
        color: rgb(24, 85, 24);
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 100%;
        height: 60px;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
      }
    
      .botonPaginado{
        width: 50px;
        height: 25px;
        border: 2px;
        border-style: outset;
        border-radius: 6px;
        background-color: rgb(24, 85, 24);
        color: white;
        font-weight: bold;
      }

      .botonPaginado #nroPagina{
        width: 70px;
        height: 25px;
        border: 2px;
        border-style: outset;
        border-radius: 6px;
        background-color: rgb(24, 85, 24);
        color: white;
        font-weight: bold;
      }
    
      .botonPaginadoApagado{
        width: 50px;
        height: 25px;
        border-radius: 6px;
        border: 1px;
        border-style: inset;
        background-color: rgb(156 193 156);
        color: #6d6969;
        font-weight: bold;
      }
      /*-------------------------------------------------------------------------------*/
     footer{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80px;
        background-color: black;
        color: white;
        text-align: center;
     }

     span{
        margin-left: 10px;
        margin-top: 10px;
    }
    
}

/*================================================================*/
/*======================== celular ===============================*/
/*================================================================*/

@media (min-width : 320px) and (max-width : 649px){
    
    .contenedor{
        display: flex;
        position: absolute;
        justify-content: flex-start;
        width: 650px;
        height: 11050px;
        background-color: rgb(149, 179, 169);
        flex-direction: column;
        box-shadow: #8a8a8a47 5px 5px;
    }
/*-------------------------------------------------------------------------*/
    .titulo{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 60px;
        background-color: black;
    }

    h1{
        font-size: 1.5rem;
    }

    .palabras{
        display: flex;
        position: relative;
        width: 500px;
        height: 60px;
        margin-bottom: 2px;
        align-items: center;
        flex-direction: column;
        
    }
    
    nav{
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 40px;
    }
    
    .arriba{
        position: absolute;
        display: flex;
        color: #b7ecdb;
        width: 350px;
        height: 40px;
        justify-content: center;
        flex-direction: column;
        /* right: 2px;
        bottom: 2px; */
    }
    
    .abajo{
        position: absolute;
        display: flex;
        width: 350px;
        height: 40px;
        justify-content: center;
        flex-direction: column;
        color: rgb(45, 81, 241);
        /* left: 2px;
        bottom: 2px; */
    }
/*-----------------------------------------------------------------------------------*/
    /* .botonesFiltro {
        display: flex;
        justify-content: center;
        position: relative;
        text-align: center;
    }

    .contenedorFiltros{
        width: 650px;
    }
    
    .filtros{
        width: 115px;
        height: 40px;
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style:italic;
        margin-left: 8px;
        background-image:linear-gradient(rgb(215, 245, 235),rgb(202, 230, 216));
        border: 2px;
        border-style: outset;
    }
    
    .botonFiltroApretado{
        width: 115px;
        height: 40px;
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        margin-left: 8px;
        color: rgb(242 245 244);
        border: 3px;
        border-style: inset;
        background-color: rgb(78 145 99);
    } */
/*--------------------------------------------------------------------------------*/
    section{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 10800px;
        margin-left: 0px;
        margin-top: 30px;
    }
    
    #tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 4px;
        margin: 11px 0px;
    }
    .card{
        display: flex;
        flex-direction: column;
        background-color: rgb(216, 232, 240);
        width: 300px;
        height: 560px;
        margin-bottom: 20px;

    }
    .contenedorImg{
        display: flex;
        position: relative;
        width: 280px;
        margin-top: 10px;
        margin-left: 10px;
        overflow: hidden;
        
        
    }
    .card:hover {
        transition:cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
        box-shadow: #66636398 10px 10px;
      }
    
    #tarjeta .imgPersonaje{
        width: 280px;
        
    }
    
    #tarjeta .imgPersonaje:hover {
        transform: scale(1.2);
      }
    
    #tarjeta p{
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
    }
    
    #tarjeta h2{
        font-family: 'Cardo', serif;
        font-family: 'Lumanosimo', cursive;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 4px;
        font-size: 20px;
    }
/*------------------------------------------------------------------------------------------*/
    .cotenedorPaginado {
        display: flex;
        color: rgb(24, 85, 24);
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 100%;
        height: 60px;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
      }
    
      .botonPaginado{
        width: 50px;
        height: 25px;
        border: 2px;
        border-style: outset;
        border-radius: 6px;
        background-color: rgb(24, 85, 24);
        color: white;
        font-weight: bold;
      }

      .botonPaginado #nroPagina{
        width: 70px;
        height: 25px;
        border: 2px;
        border-style: outset;
        border-radius: 6px;
        background-color: rgb(24, 85, 24);
        color: white;
        font-weight: bold;
      }
    
      .botonPaginadoApagado{
        width: 50px;
        height: 25px;
        border-radius: 6px;
        border: 1px;
        border-style: inset;
        background-color: rgb(156 193 156);
        color: #6d6969;
        font-weight: bold;
      }
/*--------------------------------------------------------------------------------------------*/
     footer{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80px;
        background-color: black;
        color: white;
        text-align: center;
     }
    
     span{
        margin-left: 10px;
        margin-top: 10px;
    }
}