.contenedor{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    width: 1700px;
    height: 3180px;
    background-color: rgb(149, 179, 169);
    flex-direction: column;
    box-shadow: #8a8a8a47 5px 5px;
}

/*--------------------------------------------------------------------------------------------------*/
.botonMenu{
    display: none;
    position: absolute;
    background-color: black;
    width: 50px;
}

.titulo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: black;
}

h1{
    font-size: 3.5rem;
}

.palabras{
    display: flex;
    position: relative;
    width: 500px;
    height: 100px;
    margin-bottom: 15px;
}

nav{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.arriba{
    position: absolute;
    display: flex;
    color: #b7ecdb;
    width: 500px;
    height: 100px;
    justify-content: center;
    flex-direction: column;
    right: 2px;
    top: 2px;
}

.abajo{
    position: absolute;
    display: flex;
    width: 500px;
    height: 100px;
    justify-content: center;
    flex-direction: column;
    color: rgb(45, 81, 241);
    left: 2px;
    bottom: 2px;
    
}
/*--------------------------------------------------------------------------------------------*/
.botonesFiltro {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: end;
    top: 30px;
}
#listaMenu{
    position: relative;
    display: none;
}

.botonesFiltro #contadorTarjetas{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-left: 10px;
}

.contenedorFiltros{
    width: 650px;
    margin-right: 15px;
}

.filtros{
    width: 115px;
    height: 40px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
    color: black;
    margin-left: 8px;
    background-image:linear-gradient(rgb(215, 245, 235),rgb(202, 230, 216));
    border: 2px;
    border-style: outset;
}

.botonFiltroApretado{
    width: 115px;
    height: 40px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 8px;
    color: rgb(242 245 244);
    border: 3px;
    border-style: inset;
    background-color: rgb(78 145 99);
}

/*-------------------------------------------------------------------------------------------*/
section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2800px;
    margin-left: 10px;
    margin-top: 30px;
    align-content: flex-start;
    flex-wrap: wrap;
}

#tarjeta {
    height: 600px;
    padding: 4px;
    margin: 11px 0px;
    display: grid;
    grid-template-columns: 340px 340px 340px 340px;
    align-items: start;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(216, 232, 240);
    width: 320px;
    height: 530px;
    margin-bottom: 20px;
}
.card div{
    margin-bottom: 12px;
}
.contenedorImg{
    display: flex;
    position: relative;
    width: 280px;
    margin-top: 15px;
    margin-left: 20px;
    overflow: hidden;
}
.card:hover {
    transition:cubic-bezier(0.169, 0.84, 0.44, 1) 0.5s;
    box-shadow: #66636398 10px 10px;
  }

#tarjeta .imgPersonaje{
    width: 280px;
    transition: 2s;
    
}

#tarjeta .imgPersonaje:hover {
    transform: scale(1.2);
    filter: grayscale(90%);
  }

#tarjeta p{
    margin-bottom: 2px;
    margin-left: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

#tarjeta h2{
    font-family: 'Cardo', serif;
    font-family: 'Lumanosimo', cursive;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    font-size: 20px;
}

#masInfo{
    display: flex;
    width: 300px;
    height: 35px;
    border-top: #f5efef;
    border-top-style: ridge;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    align-items: center;
    justify-content: center;

}
/*------------------------------------------------------------------------------------------------*/
.cotenedorPaginado {
    display: flex;
    color: rgb(24, 85, 24);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .paginado{
    display: flex;
    width: 300px;
  }

  .botonPaginado{
    width: 50px;
    height: 25px;
    border: 2px;
    border-style: outset;
    border-radius: 6px;
    background-color: rgb(24, 85, 24);
    color: white;
    font-weight: bold;
  }

  #nroPagina{
    display: flex;
    width: 70px;
    height: 22px;
    border: 2px;
    border-style: outset;
    border-radius: 6px;
    background-color: rgb(24, 85, 24);
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }

  .botonPaginadoApagado{
    width: 50px;
    height: 25px;
    border-radius: 6px;
    border: 1px;
    border-style: inset;
    background-color: rgb(156 193 156);
    color: #6d6969;
    font-weight: bold;
  }
  /*-------------------------------------------------------------------------------------------------*/
 footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    background-color: black;
    color: white;
    text-align: center;
 }

.informacion{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    width: 550px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.informacion p{
    margin-bottom: 3px;
    margin-top: 3px;
}

.redes{
    display: flex;
    width: 100%;
    height: 100%;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    background-color: black;
    
}

.logo{
    width: 3.5rem;
    margin: 10px;
    transition: 1.5s;
}

.logo:hover{ 
    transform: scale(1.5);
}
    
/*--------------------------------------------------------------------*/
/* ---------------------------Responsive------------------------------*/
/*--------------------------------------------------------------------*/

/*====================================================================================*/
/*================================ tablet horizontal =================================*/
/*====================================================================================*/

@media (min-width : 1060px) and (max-width : 1300px){

    .contenedor{
        width: 100%;
        height: 4350px;
    }

/*---------------------------------------------------------------------------------*/
    .titulo{
        height: 60px;
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-size: 2.5rem;
    }

    .palabras{
        width: 300px;
        height: 60px;
        margin-bottom: 2px;
    
        
    }
  
    .arriba{
        width: 300px;
        height: 60px;
    }
    
    .abajo{
        width: 300px;
        height: 60px;        
    }

/*-------------------------------------------------------------------------------------------------*/
    .botonesFiltro {
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        text-align: center;
        flex-direction: column;
        align-items: center;
        top: 18px;
    }
    .botonesFiltro #contadorTarjetas{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.4rem;
        margin-bottom: 5px;
    }

    .contenedorFiltros{
        width: 650px;
    }
    
    .filtros{
        width: 113px;
        height: 38px;
        font-size: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style:italic;
        margin-left: 8px;
        background-image:linear-gradient(rgb(215, 245, 235),rgb(202, 230, 216));
        border: 2px;
        border-style: outset;
    }
    
    .botonFiltroApretado{
        width: 115px;
        height: 40px;
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        margin-left: 8px;
        color: rgb(242 245 244);
        border: 3px;
        border-style: inset;
        background-color: rgb(78 145 99);
    }

    /*--------------------------------------------------------------------------------------*/
    section{
        height: 6200px;
        margin-left: 0px;
        margin-top: 30px;
    }
    
    #tarjeta {

        padding: 4px;
        margin: 11px 0px;
        display: grid;
        grid-template-columns: 340px 340px 340px;
        justify-content: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        background-color: rgb(216, 232, 240);
        width: 300px;
        height: 555px;
        margin-bottom: 20px;

    }
    .contenedorImg{
        display: flex;
        position: relative;
        width: 280px;
        margin-top: 10px;
        margin-left: 10px;
        overflow: hidden;
        
        
    }
    .card:hover {
        transition:cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
        box-shadow: #66636398 10px 10px;
      }
    
    #tarjeta .imgPersonaje{
        width: 280px;
        
    }
    
    #tarjeta .imgPersonaje:hover {
        transform: scale(1.2);
      }
    
    #tarjeta p{
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
    }
    
    #tarjeta h2{
        font-family: 'Cardo', serif;
        font-family: 'Lumanosimo', cursive;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 4px;
        font-size: 20px;
    }

/*-------------------------------------------------------------------------------*/
      footer{
    
        height: 120px;
        
     }
      
}

/*======================================================================================*/
/*================= tablet vertical / celular horizontal================================*/
/*======================================================================================*/

@media (min-width : 800px) and (max-width : 1059px){

    .contenedor{
        width: 100%;
        height: 6050px;
    }

/*---------------------------------------------------------------------------------*/
    .titulo{
        height: 60px;
        background-color: black;
        align-items: center;
    }

    h1{
        font-size: 2.5rem;
    }

    .palabras{
        width: 300px;
        height: 60px;
        margin-bottom: 2px;
    }
     
    .arriba{
        width: 300px;
        height: 60px;
    }
    
    .abajo{
        width: 300px;
        height: 60px;
    }

/*-------------------------------------------------------------------------------------------------*/
    .botonesFiltro {
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        text-align: center;
        flex-direction: column;
        align-items: center;
        top: 18px;
    }

    .botonesFiltro #contadorTarjetas{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.4rem;
        margin-bottom: 5px;
    }

    .contenedorFiltros{
        width: 650px;
    }
    
    .filtros{
        width: 113px;
        height: 38px;
        font-size: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style:italic;
        margin-left: 8px;
        background-image:linear-gradient(rgb(215, 245, 235),rgb(202, 230, 216));
        border: 2px;
        border-style: outset;
    }
    
    .botonFiltroApretado{
        width: 115px;
        height: 40px;
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        margin-left: 8px;
        color: rgb(242 245 244);
        border: 3px;
        border-style: inset;
        background-color: rgb(78 145 99);
    }

    /*--------------------------------------------------------------------------------------*/
    section{
        height: 6200px;
    }
    
    #tarjeta {

        padding: 4px;
        margin: 11px 0px;
        display: grid;
        grid-template-columns: 340px 340px;
        justify-content: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        background-color: rgb(216, 232, 240);
        width: 300px;
        height: 555px;
        margin-bottom: 20px;

    }
    .contenedorImg{
        display: flex;
        position: relative;
        width: 280px;
        margin-top: 10px;
        margin-left: 10px;
        overflow: hidden;
        
        
    }
    .card:hover {
        transition:cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
        box-shadow: #66636398 10px 10px;
      }
    
    #tarjeta .imgPersonaje{
        width: 280px;
        
    }
    
    #tarjeta .imgPersonaje:hover {
        transform: scale(1.2);
      }
    
    #tarjeta p{
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
    }
    
    #tarjeta h2{
        font-family: 'Cardo', serif;
        font-family: 'Lumanosimo', cursive;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 4px;
        font-size: 20px;
    }
/*--------------------------------------------------------------------------------*/
.cotenedorPaginado {
    margin-bottom: 8px;
  }
/*-------------------------------------------------------------------------------*/
      footer{
       
        height: 80px;
       
     }
    
    .informacion{
 
        width: 450px;
        font-size: 1.2rem;
    }
    .logo{
        width: 2.8rem;
    }

}

/*====================================================================================*/
/*================================== celular vertical ================================*/
/*====================================================================================*/

@media (max-width : 799px){
    
    .contenedor{
        width: 650px;
        height: 11200px;
    }

/*-------------------------------------------------------------------------*/
    .botonMenu{
        display:grid;
        position: absolute;
        background-color: black;
        width: 30px;
        height: 25px;
        margin-top: 18px;
        margin-left: 23px;
        transition: 1.5s;
    }

    .botonMenu:hover {
        transform: scale(1.2);
    }

    .titulo{
        height: 60px;
        align-content: center;
        align-items: center;
    }

    h1{
        font-size: 1.9rem;
    }

    .palabras{
        width: 300px;
        height: 40px;
        margin-bottom: 2px;
        align-items: center;
        flex-direction: column;
        
    }
    
    .arriba{
        position: absolute;
        width: 300px;
        height: 40px;
    }
    
    .abajo{
        width: 300px;
        height: 40px;
    }

/*-----------------------------------------------------------------------------------*/
    .botonesFiltro {
        display: flex;
        justify-content: space-around;
        top: 8px
    }

    .contenedorFiltros{
        width: 650px;
        display: none;
    }
    
    #listaMenu{
        width: 100px;
        height: 40px;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 18px;
    }

    .opciones{
        font-size: 15px;
        transition: 1.5s;
        text-align: start ;
    }

    #cerrar{
        margin-left: 35px;
        margin-top: 15px;
        font-size: 1.5rem;
    }
    .opciones:hover{
        transform: scale(1.15);
        color: rgb(24, 85, 24);
        cursor: pointer;
    }

    #listaMenu p{
        margin-bottom: 3px;  
    }

    .botonesFiltro #contadorTarjetas{
        flex-grow: 3;
        margin-right: 40px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
    }

/*--------------------------------------------------------------------------------*/
    section{
        height: 11000px;
        margin-left: 0px;
        margin-top: 10px;
    }
    
    #tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 4px;
        margin: 11px 0px;
    }
    .card{
        display: flex;
        flex-direction: column;
        background-color: rgb(216, 232, 240);
        width: 300px;
        height: 560px;
        margin-bottom: 20px;

    }
    .contenedorImg{
        display: flex;
        position: relative;
        width: 280px;
        margin-top: 10px;
        margin-left: 10px;
        overflow: hidden;
        
        
    }
    .card:hover {
        transition:cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
        box-shadow: #66636398 10px 10px;
      }
    
    #tarjeta .imgPersonaje{
        width: 280px;
        
    }
    
    #tarjeta .imgPersonaje:hover {
        transform: scale(1.2);
      }
    
    #tarjeta p{
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
    }
    
    #tarjeta h2{
        font-family: 'Cardo', serif;
        font-family: 'Lumanosimo', cursive;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 4px;
        font-size: 20px;
    }

/*--------------------------------------------------------------------------------------------*/
    footer{

        height: 70px;
       
    }

    .informacion{
        
        width: 400px;
        font-size: 1rem;
    }

    .informacion p{
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .logo{
        width: 1.8rem;
        margin: 10px;
        transition: 1.5s;
    }
}