
body{
    position: absolute;
    display: flex;
    background-color: rgb(247 249 248);
    justify-content: center;
    width: 3000px;
    height: 3500px;

}

.contenedor{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    width: 2000px;
    height: 3450px;
    background-color: rgb(228 237 234);
    flex-direction: column;
    box-shadow: #8a8a8a47 5px 5px;



}
.titulo{
    display: flex;
    width: 2000px;
    height: 500px;
    background-color: black;
}

h1{
    font-size: 5rem;
}

.palabras{
    width: 500px;
    height: 123px;
    left: 800px;
    display: flex;
    position: relative;
}

nav{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
.arriba{
    position: absolute;
    display: flex;
    color: #b7ecdb;
    width: 500px;
    height: 123px;
    justify-content: center;
    flex-direction: column;
    right: 2px;
    top: 2px;
}
.abajo{
    position: absolute;
    display: flex;
    width: 500px;
    height: 123px;
    justify-content: center;
    flex-direction: column;
    color: rgb(8, 158, 218);
    left: 2px;
    bottom: 2px;

}
.botonesFiltro {
    position: relative;
    text-align: end;
    top: 80px;
    right: 25px;
  
}

.filtros{
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
    margin-left: 8px;
    background-image:linear-gradient(rgb(215, 245, 235),rgb(202, 230, 216));
    border: 2px;
    border-style: outset;
}

.botonFiltroApretado{
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 8px;
    color: rgb(242 245 244);
    border: 3px;
    border-style: inset;
    background-color: rgb(78 145 99);
}


section{
    width: 1800px;
    height: 3200px;
    margin-left: 80px;
    margin-top: 50px;
    
}

#tarjeta {
    /* background-color: rgb(234, 240, 243); */
    
    padding: 4px;
    margin: 30px 50px;
    display: grid; 
    grid-template-columns: 420px 420px 420px 420px;
   
}
.card{
    background-color: rgb(234, 240, 243);
    width: 350px;
    height: 550px;
    justify-content: center;
}
#tarjeta .imgPersonaje{
    width: 280px;
    margin-top: 12px;
    margin-left: 35px;

}

#tarjeta p{
    margin-bottom: 2px;
    margin-left: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    
}
#tarjeta h2{
    font-family: 'Cardo', serif;
    font-family: 'Lumanosimo', cursive;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    font-size: 20px;
}

footer {
    display: flex;
    color: rgb(24, 85, 24);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .botonPaginado{
    width: 50px;
    height: 25px;
    border: 2px;
    border-style: outset;
    border-radius: 6px;
    background-color: rgb(24, 85, 24);
    color: white;
    font-weight: bold;
  }
  .botonPaginadoApagado{
    width: 50px;
    height: 25px;
    border-radius: 6px;
    border: 1px;
    border-style: inset;
    background-color: rgb(156 193 156);
    color: #6d6969;
    font-weight: bold;
  }
  
 